.App {
  text-align: center;

}

body {
  background-color: #111014;
}

.search-box{
  width: 50%;
  display: block;
  padding: 5px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #292630;
  color: aliceblue;
}
